arrow==1.0.0
astroid==2.4.2
atomicwrites==1.4.0
attrs==20.3.0
autopep8==1.5.7
Brotli==1.0.9
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cryptography==3.4.7
Flask==1.1.2
Flask-Compress==1.8.0
-e git+https://github.com/Grinch101/simple_phoneBook.git@16daa455762040f59674e97d490df9c20deca4c5#egg=flask_crm
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
future==0.18.2
greenlet==1.0.0
gunicorn==20.0.4
idna==2.10
iniconfig==1.1.1
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
names==0.3.0
packaging==20.9
pathlib==1.0.1
pluggy==0.13.1
psycopg2==2.8.6
py==1.10.0
pycodestyle==2.7.0
pycparser==2.20
PyJWT==2.1.0
pylint==2.6.0
pyparsing==2.4.7
pytest==6.2.3
pytest-flask-sqlalchemy==1.0.2
pytest-mock==3.6.0
pytest-ordering==0.6
python-dateutil==2.8.1
random-string==1.0
random-text-generator==1.1.0
requests==2.25.1
six==1.15.0
SQLAlchemy==1.4.12
toml==0.10.2
url64==0.0.2
urllib3==1.26.4
Werkzeug==1.0.1
wrapt==1.12.1
WTForms==2.3.3
