<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <link <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <br />
    <div class="container col-sm">
      <h2>Welcome to Simple Phone Book</h2>
    </div>
    <form method="POST" action="/saved" class="jumbotron container-fluid">
      <div class="form-group col-md-6">
        <h4>Please Enter Your Name</h4>
        <br />
        <label for="client_name">Your Name</label>
        <input
          type="text"
          name="client_name"
          class="form-control"
          id="client_name"
          placeholder="Your Name"
          required
        />
      </div>
      <br />
      <h5>Please Enter your contacts below</h5>
      <div class="form-group col-md-6">
        <label for="Name">Name</label>
        <input
          type="text"
          class="form-control"
          id="Name"
          name="Name"
          placeholder="Contact's Name"
          required
        />
      </div>

      <div class="form-group col-md-6">
        <label name="Number" for="Number">Phone Number</label>
        <input
          type="number"
          name="Number"
          class="form-control"
          id="Number"
          placeholder="Contact's Number"
          required
        />
      </div>

      <div class="container-fluid">
        <button type="submit" name="Save" class="btn btn-primary">Save</button>
      </div>
    </form>
    <div class="container-fluid">
      {% if username %}

      <h4>
        <p>Welcome {{username}}, Your saved entries are:</p>
      </h4>
      <ol>
        {% for item in mylist %}

        <li>{{item}}</li>

        {% endfor %}
      </ol>
      {% endif %}
    </div>
    <br />
    <div class="jumbotron">
      {% if db %}
      <p> Database Report :</p>
      {% for item in db %}
      <li>{{item}}</li>
      {% endfor %} {% endif %}
    </div>
    <script src="" async defer></script>
  </body>
</html>
