{% extends 'base.html' %}

{% block content %}

<div name='whole form' class='jumbotron'>
  <h3>Activity log for contact: {{contact_name}}</h3>
  <br>
  <form method="POST" name="save-log-form" action="{{url_for('activity.add' , contact_id = contact_id)}}">
    <input type="date" name="date" id="">
    <input type="time" name="time" id="">
    <input type="text" name="description">
    <select name="action" id="">
      <option value="email">Email</option>
      <option value="call">Call</option>
      <option value="--">--</option>
      <option value="--">--</option>
    </select>
    <button class="btn-primary" type="submit" name="save-log-button" value="{{contact_id}}">SAVE</button>
  </form>
</div>


{% for row in rows %}

<div class="d-flex justify-content-center">
  <div class="card w-50">
    <div class="card-header">
      on {{row['datetime']}}
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{username}} contacted {{contact_name}} through {{row['action']}}</p>

        <footer class="blockquote-footer"> {{row['description']}}</footer>
        <form action="{{url_for('activity.delete', activity_id = row['id'], contact_id = contact_id )}}" 
        method="POST">
          <button type="submit" class="btn btn-danger" value="{{row['id']}}">Delete</button>

        </form>
      </blockquote>
    </div>
  </div>
</div>
<br>
{% endfor %}




{% endblock content %}