{% extends 'base.html' %}

{% block content %}


<h1>{{username}}'s phonebook</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Number</th>
      <th scope="col">Delete</th>
      <th scope="col">Log</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for i , dic in enumerate(mylist , start=1) %}
      <td> {{i}} </td>
      <td>{{dic['name']}}</td>
      <td>{{dic['phone']}}</td>
      <form method="POST" action="{{url_for('contact.delete', id=dic['id']) }}">
        <td>
          <button name="DELETE" value="{{dic['id']}}" type="submit" class="btn btn-danger">
            Delete
          </button>
        </td>
      </form>

      
      <form method="GET" action="{{ url_for('activity.get_all' , contact_id = dic['id']) }}" name ="log-form">
        <td>
          <button name="contact_id" value="{{dic['id']}}" type="submit" class="btn btn-info">
            Log
          </button>
      </form>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{% if get_flashed_messages()[0] %}
<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">WARNING!</h4>
  <p>{{get_flashed_messages()[0]}}</p>
</div>
{% endif %}

{% endblock content %}