{% extends 'base.html' %}

{% block content %}

<div name='whole form'class='jumbotron' >
<form  action="{{ url_for('add_log' , contact_id = contact_id) }}" method="POST">
<input type="date" name="date" id="">
<input type="time" name="time" id="">
<input type="text" name="text">
<select name="action" id="">
    <option value="email">Email</option>
    <option value="call">Call</option>
</select>
<button type="submit">Save</button>

</form>
</div>


<div name="table" class="table">

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Action</th>
            <th scope="col">Note</th>
            <th scope="col">Date and Time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for i , dic in enumerate(history_list , start=1) %}
            <td> {{i}} </td>
            <td>{{dic['action']}}</td>
            <td>{{dic['description']}}</td>
            <td>{{dic['datetime']}}</td>
          </tr>
          {% endfor %}
    
        </tbody>
      </table>
    
    </div>
    









</div>








{% endblock %}