{% extends 'base.html' %}

{% block content %}



<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Client Name</th>
      <th scope="col">Name</th>
      <th scope="col">Number</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <form method="POST" action="{{ url_for('delete') }}" >
    {% for index , key , value in mylist %}


      <td> {{index}} </td>

      <td>{{value['client_name']}}</td>
      <td>{{value['name']}}</td>
      <td>{{value['phone']}}</td>
      <td> 
       <button 
        name="DELETE" 
        value={{key}} 
        type="submit" 
        class="btn btn-danger">
        Delete
        </button>
    </tr>
   {% endfor %}</form></td>
  </tbody>
</table>

{% endblock content %}


